@import '../../../../assets/styles/vvar_color.scss';
@import '../../../../assets/styles/vvar_mixis.scss';

.mult-selector {
  width: 100%;
  .mtl {
    margin-bottom: 10px;
    font-size: 14px;    
    font-family: $font-family;
    color: $vvar-color-default;
  }
  .mtl-slt {
    width: 100%;
    padding: 7px;
    font-size: 14px;
    border: 1px solid $vvar-color-mono;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent url('../../../../assets/svg/icon.svg') 97% no-repeat;
    color: $vvar-color-default;
    cursor: pointer;
    .item-mtl {
      font-family: $font-family;
      color: $vvar-color-default; 
      font-size: 18px;
    }
    &:focus {
      outline: none;
    }
  }
}

@include table-xd {
  .mult-selector {
    .mtl-slt {
      background: transparent url('../../../../assets/svg/icon.svg') 95% no-repeat;
    }
  }
}

@include table-md {
  .mult-selector {
    .mtl-slt {
      background: transparent url('../../../../assets/svg/icon.svg') 94% no-repeat;
    }
  }
}


@include mobile {
  .mult-selector {
    .mtl-slt {
      background: transparent url('../../../../assets/svg/icon.svg') 98% no-repeat;
    }
  }
}