<form class="mdl" id="mdl-form">
  <div class="mdl-ctn">

    <!-- BANNER -->
    <div class="mdl-bnr">
      <div class="mdl-img-banner">
        <img src="../../../assets/svg/img.svg" alt="Logo Lopes Brasil">
      </div>
      <!-- IMAGEM PERFIL -->
      <div class="mdl-img-pfl">
        <img src="../../../assets/svg/vn.jpg" alt="Logo Lopes Brasil">
      </div>
    </div>

    <!-- NAME USER -->
    <div class="mdl-nuser">
      <p class="nick">Wollner</p>
      <p class="mdl-spc">-</p>
      <p class="user-name">Giovani José Campos</p>
    </div>

    <!-- PHONE USER -->
    <div class="mdl-group md-ls">
      <div class="mdl-item">
        <label for="telephone">Telefone Principal</label>
        <input type="tel" id="telephone" name="telephone" placeholder="+00 00 00000-0000" tabindex='0'>
      </div>
      <div class="mdl-item">
        <label for="phone-alternative">Telefone Alternativo</label>
        <input type="tel" id="phone-alternative" name="phone-alternative" placeholder="+00 00 00000-0000">
      </div>
    </div>

    <!-- EMAIL USER -->
    <div class="mdl-group md-eml">
      <div class="mdl-item">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="corretor@lopes.com.br" >
      </div>
    </div>

    <!-- BIOGRAFIA -->
    <div class="mdl-group md-eml">
      <div class="mdl-item">
        <label for="bio">Biografia</label>
        <textarea type="text" id="bio" name="bio" placeholder="Escreva um breve resumo sobre você."></textarea>
      </div>
    </div>




  </div>
</form>
