<form class="mdl" id="mdl-form">
  <div class="mdl-ctn">

    <!-- BANNER -->
    <div class="mdl-bnr">
      <div class="mdl-img-banner">
        <img src="../../../assets/svg/img.svg" alt="Logo Lopes Brasil">
      </div>
      <!-- IMAGEM PERFIL -->
      <div class="mrg mdl-img-pfl">
        <img src="../../../assets/svg/vn.jpg" alt="Logo Lopes Brasil">
      </div>
    </div>

    <!-- NAME USER -->
    <div class="mrg mdl-nuser">
      <p class="nick">Wollner</p>
      <p class="mdl-spc">-</p>
      <p class="user-name">Giovani José Campos</p>
    </div>

    <!-- PHONE USER -->
    <div class="mrg mdl-group md-ls">
      <div class="mdl-item">
        <label for="telephone">Telefone Principal</label>
        <input type="tel" id="telephone" name="telephone" placeholder="+00 00 00000-0000" tabindex='0'>
      </div>
      <div class="mdl-item">
        <label for="phone-alternative">Telefone Alternativo</label>
        <input type="tel" id="phone-alternative" name="phone-alternative" placeholder="+00 00 00000-0000">
      </div>
    </div>

    <!-- EMAIL USER -->
    <div class="mrg mdl-group md-eml">
      <div class="mdl-item">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="corretor@lopes.com.br" >
      </div>
    </div>

    <!-- BIOGRAFIA -->
    <div class="mrg mdl-group md-eml">
      <div class="mdl-item">
        <label class="mdl-lb-bio" for="bio">Biografia</label>
        <textarea type="text" id="bio" name="bio" placeholder="Escreva um breve resumo sobre você."></textarea>
        <small class="mdl-count">{{ form.get('bio').value.length + '/' + '300'}}</small>
      </div>
    </div>

    <!-- IDIOMA -->
    <div class="mrg mdl-idioma">
      <div class="mdl-list">
        <p class="mdl-text">Idiomas:</p>

        <!-- CRIAR COMPONENTE -->
        <div class="item-selection">
          <div class="item-select" *ngFor="let item of list; let i = index">
            <select class="idiomas" (click)="setIdioma(i, $event, 'loc')">
              <option *ngFor="let location of item.locs">{{ location }}</option>
            </select>
            <select class="idiomas" (click)="setIdioma(i, $event, 'tp')">
              <option *ngFor="let type of item.typeLocs" >{{ type }}</option>
            </select>

            <!-- BTN - CLEAR -->
            <button class="btn-clear-position" id="mdl-clear-position" (click)="clearIdioma(i)">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15 4H20V6H18V19C18 19.2652 17.8946 19.5196 17.7071 19.7071C17.5196 19.8946 17.2652 20 17 20H3C2.73478 20 2.48043 19.8946 2.29289 19.7071C2.10536 19.5196 2 19.2652 2 19V6H0V4H5V1C5 0.734784 5.10536 0.48043 5.29289 0.292893C5.48043 0.105357 5.73478 0 6 0H14C14.2652 0 14.5196 0.105357 14.7071 0.292893C14.8946 0.48043 15 0.734784 15 1V4ZM16 6H4V18H16V6ZM7 9H9V15H7V9ZM11 9H13V15H11V9ZM7 2V4H13V2H7Z" fill="#2A2A2A"/>
              </svg>
            </button>
          </div>

          <!-- ADD + IDIOMAS -->
          <button class="btn btn-add-idioma" id="mdl-add-idiomas" (click)="addIdioma()">
            Adicionar idioma
          </button>
        </div>
      </div>
    </div>

    <div class="mrg mdl-actions">
      <button type="submit" class="btn btn-submit" id="btn-submit-form">Salvar Alterações</button>
      <button type="button" class="btn btn-cancel" id="btn-cancel-form">Cancelar</button>
    </div>
  </div>
</form>
