@import '../../../assets/styles/vvar_mixis.scss';

.mdl {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(51, 51, 51, 0.637);
  @include scrollbar();
  display: flex;
  justify-content: center;
  .btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  .mrg {
    margin: 0 110px;
  }
  .mdl-ctn {
    margin: 120px auto;
    position: absolute;
    width: 856px;
    // height: 1136px;
    min-height: 1136px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    .mdl-bnr {
      width: 856px;
      border-radius: 7px 7px 0 0;
      box-sizing: border-box;
      .mdl-img-banner {
        img {
          border-radius: 7px 7px 0 0;
        }
      }
      .mdl-img-pfl {
        width: 196px;
        img {
          position: absolute;
          top: 52px;
          border: 2px solid #F2F2F2;
          width: 196px;
          height: 196px;
          border-radius: 50%;
        }
      }
    }
    .mdl-nuser {
      margin-top: 160px;
      .nick {
        height: 40px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 36px;
        color: #2A2A2A;
      }
      .mdl-spc {
        display: none;
      }
      .user-name {
        height: 40px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 36px;
        color: #2A2A2A;
      }
    }
    .mdl-group {
      display: flex;
      .mdl-item {
        margin-right: 24px;
        label {
          height: 14px;
          font-family: Open Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          display: flex;
          align-items: center;
          color: #2A2A2A;
        }
        input {
          margin-top: 4px;
          width: 306px;
          height: 44px;
          border: none;
          background: #FFFFFF;
          border: 1px solid #F2F2F2;
          box-sizing: border-box;
          border-radius: 7px;
          font-family: Open Sans;
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 19px;
          color: #ACACAC;
          padding-left: 14px;
          &:focus {
            outline: none;
          }
        }
        textarea {
          margin-top: 16px;
          height: 104px;
          width: 636px;
          resize: none;
          padding: 14px;
          border: none;
          background: #FFFFFF;
          border: 1px solid #F2F2F2;
          box-sizing: border-box;
          border-radius: 7px;
          font-family: Open Sans;
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 19px;
          color: #ACACAC;
          &:focus {
            outline: none;
          }
        }
      }
    }
    .md-ls {
      margin-top: 64px;
    }
    .md-eml {
      margin-top: 32px;
    }
    .mdl-idioma {
      display: flex;
      margin-top: 33px;
      .mdl-list {
        .mdl-text {
          height: 26px;
          font-family: Open Sans;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 20px;
          color: #2A2A2A;
          margin-bottom: 16px;
        }
        .item-selection {
          display: flex;
          flex-direction: column;
          .item-select {
            display: flex;
            flex-direction: row;
            align-items: center;
            .idiomas {
              display: flex;
              flex-direction: row;
              padding-left: 12px;
              width: 196px;
              height: 36px;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              background: transparent url('../../../assets/svg/icon.svg') 95% no-repeat;
              border: 1px solid #F2F2F2;
              box-sizing: border-box;
              border-radius: 7px;
              cursor: pointer;
              font-family: Open Sans;
              font-size: 12px;
              line-height: 16px;
              color: #2A2A2A;
              margin-bottom: 16px;
              &:focus {
                outline: none;
              }

              &:nth-child(1) {
                margin-right: 16px;
              }
              &:nth-child(2) {
                margin-right: 32px;
              }
            }
            .btn-clear-position {
              margin-bottom: 16px;
              border: none;
              background-color: transparent;
              cursor: pointer;
              &:focus {
                outline: none;
              }
            }
          }
          .btn-add-idioma {
            width: 145px;
            height: 44px;
            margin: 14px 0 55px 0;
            border: none;
            background-color: transparent;
            cursor: pointer;
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 19px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #DC3145;
            &:focus {
              outline: none;
            }
          }
        }
      }
    }
    .mdl-actions {
      display: flex;
      margin-bottom: 47px;
      .btn-submit {
        width: 160px;
        height: 46px;
        background: #D6283D;
        border-radius: 7px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        margin-right: 32px;
      }
      .btn-cancel {
        width: 160px;
        height: 46px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        text-align: start;
        color: #D6283D;
      }
    }
  }
}
