@import '../../../assets/styles/vvar_color.scss';

.profile-container {
  margin-top: 43px;
  display: flex;

  // photo
  .pfl-photo {
    width: 240px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .pfl-img {
      width: 142.86px;
      height: 142.86px;
      border: 1px solid #CCC;
      border-radius: 50%;
      padding: 5px;
      background-size: contain;
    }
    .cdv {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 29px;
      p {
        font-family: Open Sans;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.4px;
        color: #D6283D;
        margin-left: 11px;
      }
    }
    #cmr {
      border: none;
      background-color: transparent;
      position: absolute;
      left: 11%;
      top: 411px;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
  }

  // data informations
  .pfl-info {
    width: 1076px;

    // nickname + btn edit
    .pfl-edt {
      display: flex;
      justify-content: space-between;
      .nick-name {
        display: flex;
        font-family: Open Sans;
        font-size: 24px;
        line-height: 36px;
        .nick {
          color: #2A2A2A;
          font-weight: 600;
          margin-right: 5px;
        }
        .nname {
          font-size: 24px;
          margin-left: 5px;
          font-weight: normal;
          color: #2A2A2A;
          opacity: 0.7;
        }
      }
      .btn-edit {
        width: 176px;
        height: 44px;
        background: #FFFFFF;
        border: 1px solid $lps-color-primary;
        box-sizing: border-box;
        border-radius: 7px;
        color: $lps-color-primary;
        font-weight: bold;
        cursor: pointer;
        &:focus {
          outline: none;
        }
        &:hover {
          opacity: 0.8;
        }
      }
    }

    // location
    .pfl-loc {
      display: flex;
      margin-top: 16px;
      #ic-loc {
        margin-right: 8px;
      }
      #ic-country {
        margin-left: 9px;
      }
      .loc {
        display: flex;
        input {
          display: none;
          border: none;
          &:focus {
            outline: none;
          }
        }
        span {
          margin: 0 10px;
        }
      }
    }

    // Phone
    .pfl-phone {
      display: flex;
      flex-direction: row;
      .pfl-item {
        width: 193px;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        &.mt-less {
          margin-top: 16px;
        }
        p {
          font-family: Open Sans;
          font-size: 14px;
          line-height: 19px;
          display: flex;
          align-items: flex-end;
          color: #2A2A2A;
        }
        .pfl-edt-phone {
          margin-top: 8px;
          text-decoration: none;
          display: flex;
          align-items: center;
          #ic-phone {
            margin-right: 10px;
          }
          input {
            margin: 0;
            padding: 0;
            background-color: rgb(245, 243, 243);
            font-family: Open Sans;
            font-size: 12px;
            line-height: 24px;
            letter-spacing: 0.5px;
            color: #D6283D;
            border: none;
            &:focus {
              outline: none;
            }
          }
          span {
            font-family: Open Sans;
            font-size: 12px;
            line-height: 24px;
            letter-spacing: 0.5px;
            color: #D6283D;
          }
        }
      }
    }

    .pfl-bio {
      width: 1076px;
      margin-top: 40px;
      .bio-title {
        font-family: Open Sans;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        color: #2A2A2A;
      }
      .bio-description {
        width: 100%;
        height: 60px;
        margin-top: 16px;
        font-family: Open Sans;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.5px;
        color: #2A2A2A;
      }
      textarea {
        padding: 0 5px;
        border: none;
        background-color: rgb(245, 243, 243);
        &:focus {
          outline: none;
        }
      }
    }

    // Info Basic
    .pfl-bin {
      margin-top: 40px;
      .pfl-bin-title {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        color: #2A2A2A;
      }
      .pfl-bin-list {
        display: flex;
        flex-direction: column;
        .pfl-bin-item {
          display: flex;
          margin-top: 24px;
          .pfl-bin-icon {
            display: flex;
            #pfl-bin-ic {
              margin-right: 10px;
            }
            .pfl-bin-desc {
              width: 172px;
              height: 16px;
            }
          }
          .mt {
            #pfl-bin-ic {
              margin-top: 2px;
            }
          }
          .pfl-bin-value {
            width: 416px;
            p {
              font-family: Open Sans;
              font-weight: bold;
              font-size: 14px;
              line-height: 24px;
              letter-spacing: 0.5px;
              color: #2A2A2A;
            }
            .item-selection {
              display: flex;
              flex-direction: column;
              .item-select {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 16px;
                .idiomas {
                  display: flex;
                  flex-direction: row;
                  padding: 0 0 0 10px;
                  margin-right: 10px;
                  width: 108px;
                  height: 36px;
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  appearance: none;
                  background: transparent url('../../../assets/svg/icon.svg') 95% no-repeat;
                  border: 1px solid #F2F2F2;
                  box-sizing: border-box;
                  border-radius: 7px;
                  cursor: pointer;
                  &:focus {
                    outline: none;
                  }
                }
                .btn-clear-position {
                  border: none;
                  background-color: transparent;
                  cursor: pointer;
                  &:focus {
                    outline: none;
                  }
                }
              }
              .btn-add-idioma {
                width: 145px;
                height: 44px;
                margin-top: 14px;
                border: none;
                background-color: transparent;
                cursor: pointer;
                &:focus {
                  outline: none;
                }
              }
            }
            











          }
        }
        .ibp {
          display: flex;
          align-items: center;
        }
      }
    }
   
  }






















}