@import '../../assets/styles/vvar_color.scss';

.container {
  box-sizing: border-box;
  .banner {
    width: 100vw;
    height: 142.22px;
    background-color: $lps-color-primary;
  }
  .nav-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    li {
      margin: 0 5px;
      display: flex;
      align-items: center;
      height: 55px;
      box-sizing: border-box;
      border-bottom: 1px solid transparent;
      a {
        box-sizing: border-box;
        text-decoration: none;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #CCC;
        &:hover {
          color: $lps-color-primary;
        }      
      }
      &:hover {
        border-bottom: 2px solid $lps-color-primary;
      }
      &.bdr {
        border-bottom: 2px solid $lps-color-primary;
      }
    }
  }
}