<div class="ext-container">
  <h3 class="tbl-title">Extrato de transações</h3>
  <div class="ext-header">
    <p class="item snl"></p>
    <p class="item ext-mcr">Mercadoria</p>
    <p class="item ext-desc">Valor</p>
  </div>
  <div class="ext-body" *ngFor="let item of list">
    <p class="item snl">{{ item.sinal }}</p>
    <p class="item ext-mcr">{{ item.product }}</p>
    <p class="item ext-desc">{{ item.price | currency:'BRL':true }}</p>
  </div>
  <div class="ext-total">
    <p class="item snl"></p>
    <p class="item ext-mcr">Total</p>
    <p class="item ext-desc">
      {{ total | currency:'BRL':true }}
      <span>[Lucro]</span>
    </p>
  </div>
</div>