@import '../../assets/styles/vvar_color.scss';
@import '../../assets/styles/vvar_mixis.scss';

.header-container {
  width: 100vw;
  background-color: $vvar-color-medium;
  display: flex;
  justify-content: flex-end;
  .container {
    width: 80vw;
    height: 10vh;
    display: flex;
    margin-right: 5%;
    align-items: center;
    justify-content: space-between;
    .item-header {
      display: flex;
      align-items: center;
      img {
        margin-right: 20px;
      }
      .sdw {
        display: none;
      }
    }
    .item-nav {
      background-color: #FFF;
      display: flex;
      .item-list {
        padding: 5px 20px;
        margin: 5px 0;
        display: flex;
        box-sizing: border-box;
        cursor: pointer;
        .item-action {
         padding: 5px 0;
         box-sizing: border-box;
         text-decoration: none;
         color: #333;
          &.bdb {
            opacity: 0.5;
          }
        }
        &:nth-child(-n + 2) {
          border-right: 1px solid #CCC;
        }
      }      
    }
  } 
}

// (min-width: 1024px) and (max-width: 1440px)
@include table-xd {
  .header-container {
    .container {
      width: 100vw;
      margin: 0 20px;
      .item-header {
        img {
          margin-right: 15px;
        }
        .sdw {
          display: none;
        }
      }
    } 
  }
}

//(min-width: 768px) and (max-width: 1024px)
@include table-md {
  .header-container {
    .container {
      width: 100vw;
      margin: 0 20px;
      .item-header {
        width: 100%;
        justify-content: space-between;
        .sdw {
          display: flex;
          margin: 0;
        }
      }
      .item-nav {
        display: none;
      }
    } 
  }  
}

@include mobile {
  .header-container {
    .container {
      width: 100vw;
      margin: 0 20px;
      .item-header {
        width: 100%;
        justify-content: space-between;
        .sdw {
          display: flex;
          margin: 0;
        }
      }
      .item-nav {
        display: none;
      }
    } 
  }  
}