<header class="header-container">
	<div class="container">
		<div class="item-header">
			<img class="img-header" src="../../../../favicon.ico" alt="Logo VVAR">
			<p class="header-title">Financial control</p>
			<img class="sdw" src="../../../../favicon.ico" alt="Logo VVAR">
		</div>
		<ul class="item-nav">
			<li class="item-list">
				<a class="item-action" routerLink="/dashboard" routerLinkActive="bdb">Dashboard</a>
			</li>
			<li class="item-list">
				<a class="item-action" routerLink="/summary" routerLinkActive="bdb">Summary</a>
			</li>
			<li class="item-list">
				<a class="item-action" routerLink="/setting" routerLinkActive="bdb">Settings</a>
			</li>
		</ul>
	</div>
</header>