@import '../../../../assets/styles/vvar_color.scss';

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  .lbl-input {
    margin-bottom: 10px;
    font-size: 14px;    
    font-family: $font-family;
    color: $vvar-color-default;
  }
  .input-control {
    border: 1px solid $vvar-color-mono;
    border-radius: 3px;
    padding: 7px;
    font-size: 14px;
    color: $vvar-color-default;
    &:focus {
      outline: none;
    }
  }
}