.menu-mobile {
  height: 100vh;
  z-index: 1;
  position: absolute;
  width: calc(100vw - 60vw);
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #333;

  .btn-closed {
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #FFF;
    font-weight: bold;
    margin: 15px 0 0 10px;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }

  .list-menu-mobile {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    li {
      display: flex;
      box-sizing: border-box;
      justify-content: flex-end;
      cursor: pointer;
      a {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding: 10px 10px;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        color: #FFF;
        &:hover {
          background-color: #CCC;
        }
      }
     
    }
  }
}