@import './vvar_color.scss';

@mixin table-xd {
  @media (min-width: 1024px) and (max-width: 1440px) { @content; }
}

@mixin table-md {
  @media (min-width: 768px) and (max-width: 1024px) { @content; }
}

@mixin mobile {
  @media (max-width: 768px) { @content; }
}

@mixin tbl {
  .item  {
    height: auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #CCC;
  }
  .snl {
    width: 1%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: 0 10px 0 0;
  }
  .ext-mcr {
    width: 50%;
    flex-grow: 2;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .ext-desc {
    width: 80%;
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
  }
}


@mixin scrollbar {
  &::-webkit-scrollbar-track {
    background-color: rgba(244, 244, 244, 0);
  }
  &::-webkit-scrollbar {
    width: 0px;
    background: rgba(244, 244, 244, 0);
  }
  &::-webkit-scrollbar-thumb {
    background: #fcfafa00;
  }
  &::-webkit-scrollbar {
    width: 0px;
  }
}
