@import '../../assets/styles/vvar_color.scss';

.header-container {
  width: 100vw;
  background-color: $vvar-color-medium;
  display: flex;
  justify-content: center;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 0 5% 0 15%;
    height: 10vh;
    justify-content: space-between;
    .item-nav {
      background-color: #FFF;
      display: flex;
      .item-list {
        padding: 5px 20px;
        margin: 5px 0;
        display: flex;
        box-sizing: border-box;
        cursor: pointer;
        .item-active {
         padding: 10px 0;
        }
        &:nth-child(-n + 2) {
          border-right: 1px solid #CCC;
        }
      }      
    }
  } 
}